<form onsubmit="add(event)" class="d-flex flex-column mb-4 rounded-lg shadow-lg bg-white p-4">
    <h1 class="h4 font-weight-bold mb-4">Todo List</h1>

    <div style="display: flex; ">
      <input
        type="text"
        id="todo-input"
        class="flex-grow-1 p-2 border border-secondary rounded-l-start"
        style="border-radius: 5px 0 0 5px;"
        placeholder="Yeni görev ekle..."
      />
      <button
        type="submit"
        class="btn btn-primary p-2 rounded-r-end"
        style="border-radius: 0 5px 5px 0;"
      >
        Ekle
      </button>
    </div>
  </form>